.main-content {
  margin: calc(6 * var(--vertical-r) + 70px) 10vw;
  display: flex;

  @media (max-width: 850px) {
    margin: calc(6 * var(--vertical-r) + 70px) 1vw;
  }

  @media (max-width: 600px) {
    margin: calc(var(--vertical-r) + 100px) var(--vertical-r);
    flex-flow: column nowrap;
  }
}
